
@{
    ViewBag.Title = "Consultas";

}
<head>
    <style type="text/css">

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
    </style>
</head>
@using (Html.BeginForm())
{
    <body>
        <h3 style="text-align:center; color:dodgerblue  ">Realiza su consulta</h3>
        <div class="container">
            <p></p>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-offset-5 col-md-5">
                        <div class="form-group">
                            Dni: <input class="" type="number" required="required" id="txtNumeroDni" />
                            <button type="button" class="btn btn-primary" id="btnBuscarConsultas">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
}


<div class="container">
    <p style=" height:10px;"></p>
    <h3 style="color:dodgerblue; " class="text-center">Resultados de la Busqueda</h3>
    <p id="lblResultadoRegistros" class="invisible" style="color:red; font-size:12px;">No existe registros </p>

    <div class="container col-md-12">
        <p></p>
        <table id="tablaResultadosConsulta" class="table table-striped table-bordered table-sm table-dark" cellspacing="0" width="100%">

            <tr>
                <th>Nro de Reserva </th>
                <th>Fecha generado</th>
                <th>Origen </th>
                <th>Destino</th>
                <th>Fecha de viaje</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th>Estado</th>

            </tr>



        </table>


    </div>

</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


<script>
    document.getElementById("btnviaje").classList.remove("active");
    document.getElementById("btnpromocion").classList.remove("active");
    document.getElementById("btnfullday").classList.remove("active");
    document.getElementById("btnconsultaViajes").classList.add("active");
    document.getElementById("grupoFiltros").remove();
    document.getElementById("linksuperior").remove();

    $("#btnBuscarConsultas").click(function ()
    {
        var cID = $("#txtNumeroDni").val(); 
        if (cID=="" || cID.length!=8) {
             alert("Ingrese un numero de Dni valido " );
            return;
        }
        $.getJSON("/Proyecto/getReservasPorDni", { Dni: cID },
            function (data) {

                var contador = 0;
                     var tablla = document.getElementById('tablaResultadosConsulta');
                        while (tablla.rows.length > 1) {
                            tablla.deleteRow(1);
                        }     

                        var tblFullday = $("#tablaResultadosConsulta");  
   
                    $.each(data, function (index, item)
                    {
                         contador += 1
                        var tb5 = $("<tr></tr>");
                        tb5.html(
                            ("<td>" + item.Pk_Reserva_FullDay + "</td>")
                              + " " + ("<td>" + item.Fecha_Generado + "</td>")
                            + " " + ("<td>" + item.origen + "</td>")
                            + " " + ("<td>" + item.destino + "</td>")
                              + " " + ("<td>" + item.fecha_viaje + "</td>")
                            + " " + ("<td>" + item.precioUnitario + "</td>")
                                + " " + ("<td>" + item.cantidad + "</td>")
                            + " " + ("<td>" + item.precioTotal + "</td>")
                             + " " + ("<td>" + item.Estado + "</td>")
                          

                        );
                        tblFullday.append(tb5);

                    });

                    if (contador == 0) {
                         document.getElementById("lblResultadoRegistros").classList.remove("invisible");
                    }
                    else {
                         document.getElementById("lblResultadoRegistros").classList.add("invisible");
                    }
            
                         
         });

    });
</script>
