
@{
    ViewBag.Title = "Consultas";
}

<h2>Consultas</h2>


<script>
     document.getElementById("btnviaje").classList.remove("active");
        document.getElementById("btnpromocion").classList.remove("active");
    document.getElementById("btnfullday").classList.remove("active");
      document.getElementById("btnconsultaViajes").classList.add("active");
</script>
