
@{
    ViewBag.Title = "FullDay";
}

<h2 class="text-center" style="color:dodgerblue">Promociones</h2>
<div class="container overflow-hidden">

    <p></p>
    <h3 id="lblSinResultadoFullDay" class="invisible" style="color:red; ">No se encontraron resultados</h3>
    <div id="contenedorFullDay">
        <div class="row gy-5">
            <div class="col-4">

            </div>
        </div>

    </div>
</div>
<p style="height:20px;"></p>

<div class="container">
    <p style=" height:10px;"></p>
    <h3 style="color:dodgerblue; " class="text-center">Resultados de la Busqueda</h3>
    <p id="lblResultadoFullday" class="invisible" style="color:red; font-size:12px;">No existe viajes programados </p>

    <div class="container col-md-12">
        <p></p>
        <table id="tablaResultadosFullday" class="table table-striped table-bordered table-sm table-dark" cellspacing="0" width="100%">

            <tr>
                <th>Ruta </th>
                <th>Precio</th>
                <th>Cupos</th>
                <th>Opciones </th>

            </tr>



        </table>


    </div>

</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script>

    function Click_ViajesProgramados(ctl) {
            var sss = ctl.value;
           var convertido = JSON.parse(sss);

           location.href = "/Proyecto/FullDayDetalles?Pk_ViajesProgramados="+convertido.Pk_ViajesProgramados_FullDay;
       }
   
   $(document).ready(function () {

          
        function clickPromocionFullDay(pk_promocionFullDay) {
            
            location.href = "/Proyecto/FullDayDetalles?Pk_FullDayPromocion="+ pk_promocionFullDay;
            
       }
       

        function buscarPromociones() {
            var pk_origen = $("#cboOrigen").val();
            var pk_destino = $("#cboDestino").val();
            var FechaInico = document.getElementById("Fecha_Inicio").value; 
            $.getJSON("/Proyecto/getPromocionFullDay", { pk_origen: pk_origen, pk_destino: pk_destino, fecha: FechaInico },
                function (data)
            {
                    const myNode = document.getElementById("contenedorFullDay");
                    while (myNode.lastChild) {
                        myNode.lastChild.remove();
                    }
                    var contador = 0;
                    let li = document.createElement('div');
                    //li.id = "contenedorViajes"
                    let li2 = document.createElement('div');
                    li2.classList.add("row");
                    li2.classList.add("gy-5");
                    $.each(data, function (index, item) {
                        contador += 1
                        let li3 = document.createElement('div');
                        li3.classList.add("col-4");
                        let li4 = document.createElement('div');
                        li4.classList.add("p-3");
                        li4.classList.add("border");
                        li4.classList.add("bg-light");

                        let h33 = document.createElement("h3");
                        h33.classList.add("text-center");
                        h33.style.color = "Red";
                        h33.textContent = "Valido hasta: " + item.fecha_valida;
                        li4.appendChild(h33);

                        let img1 = document.createElement("img");
                        img1.width = 340;
                        img1.height = 150;
                        img1.src = item.rutaImagen;
                        li4.appendChild(img1);

                        let p1 = document.createElement("p");
                        li4.appendChild(p1);

                        
                        let p2 = document.createElement("p");
                        p2.style.fontSize = "16px";
                        p2.style.color = "dodgerblue";
                        p2.style.font = "bold";
                        p2.textContent = item.Descripcion;
                        
                        li4.appendChild(p2);
                        let h32 = document.createElement("h3");
                        h32.style.color = "Red";
                        h32.textContent = "S/ " + item.Precio + " - "+ item.tipoPromocion;
                        li4.appendChild(h32);

                      
                        let h3 = document.createElement("h3");
                        h3.classList.add("text-left");
                        h3.textContent = item.ruta;
                        li4.appendChild(h3);

                        let p3 = document.createElement("p");
                        p3.textContent = "Cupos limitados: " + item.Cupos;
                        li4.appendChild(p3);


                        let buttom1 = document.createElement("button");
                        buttom1.type = "submit";
                        buttom1.classList.add("btn");
                        buttom1.classList.add("btn-warning");
                        buttom1.value = item.Pk_Promocion_viaje;
                        buttom1.id = "btnReservarFullDay";
                        buttom1.textContent = "Mas detalles";
                        buttom1.style = "float:right";
                        buttom1.addEventListener("click", function () { clickPromocionFullDay(item.Pk_promocionFullDay) }, false);

                        li4.appendChild(buttom1);

                        li3.appendChild(li4);
                        li2.appendChild(li3);


                    });
                    if (contador > 0) {
                        li.appendChild(li2);                       
                        myNode.appendChild(li);
                    }
                    if (contador == 0) {
                        document.getElementById("lblSinResultadoFullDay").classList.remove("invisible");
                    }
                    else {
                        document.getElementById("lblSinResultadoFullDay").classList.add("invisible");
                    }
                });

           

            $.getJSON("/Proyecto/getViajesProgramadosFullDay", { pk_origen: pk_origen, pk_destino: pk_destino, fecha: FechaInico },
                function (data) {
                    var contador = 0;
                     var tablla = document.getElementById('tablaResultadosFullday');
                        while (tablla.rows.length > 1) {
                            tablla.deleteRow(1);
                        }     

                        var tblFullday = $("#tablaResultadosFullday");  
   
                    $.each(data, function (index, item)
                    {
                         contador += 1
                        var tb5 = $("<tr></tr>");
                        tb5.html(
                            ("<td>" + item.Ruta + "</td>")
                             
                            + " " + ("<td>" + item.Precio + "</td>")
                            + " " + ("<td>" + item.cupos + "</td>")
                            + "<td>" +  "<button type='button'  value='" + JSON.stringify(item) + "'  onclick='Click_ViajesProgramados(this);' class='btn btn-warning btn-sm '> Mas detalles " + "</button>" +
                            "</td>"

                        );
                        tblFullday.append(tb5);

                    });

                    if (contador == 0) {
                         document.getElementById("lblResultadoFullday").classList.remove("invisible");
                    }
                    else {
                         document.getElementById("lblResultadoFullday").classList.add("invisible");
                    }
                });
        }

        

        $("#btnBuscar").click(function () {

            buscarPromociones();
        });
        function sleep(time) {
            return new Promise((resolve) => setTimeout(resolve, time));
        }
        document.querySelector("#cboDestino").addEventListener("EventoSeleccion", (event) => {
            sleep(500).then(() => {
                buscarPromociones();
            });

        });

    document.getElementById("btnfullday").classList.add("active");
    document.getElementById("btnpromocion").classList.remove("active");
    document.getElementById("btnviaje").classList.remove("active");
    document.getElementById("btnconsultaViajes").classList.remove("active");

    });


</script>
