
@{
    ViewBag.Title = "Promocion Viaje ";
}

<head>

</head>
<body>
    <h3 class="text-center">Registra tu reserva de viaje </h3>
    <p></p>
    <div class="container">
        <div class="row">
            <p></p>
        </div>
        <div class="col-md-12" style="font-size:14px; ">
            <div class="row">
                <div class="offset-md-2 col-md-2">
                    <div class="form-group">
                        Nombre:
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" id="txtnombre" style="width:100%;" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-2 col-md-2">
                    <div class="form-group">
                        Apellido:
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" id="txtapellido" style="width:100%;" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-2 col-md-2">
                    <div class="form-group">
                        Dni:
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" id="txtDni" style="width:100%;" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-2 col-md-2">
                    <div class="form-group">
                        Telefono:
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" id="txttelefono" style="width:100%;" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="offset-md-2 col-md-2">
                    <div class="form-group">
                        Correo:
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" id="txtcorreo" style="width:100%;" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="offset-md-2 col-md-2">
                    <div class="form-group">
                        Fecha de viaje:
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="date" id="txtFechaDeViaje" style="width:100%;" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="offset-md-2 col-md-2">
                    <div class="form-group">
                        Asiento:
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" id="txtasiento" style="width:100%;" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-5 col-md-2">
                    <div class="form-group">
                        <button class="btn btn-primary" id="btnGuardar">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

<script>
    document.getElementById("linksuperior").remove();
    document.getElementById("grupoFiltros").remove();
    
</script>
